/* variable */
:root {
    /* --font-color:white; */
    --background-color:yellow;
    --body-color: rgb(16, 33, 48);
    --hover-color:rgb(255, 208, 0);
}   


html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
    font-family: sans-serif;
    color: rgb(204, 202, 202);
}


/* Header */
.welcome {
    color: var(--background-color);
    font-size: 3.7rem;
    text-align: center;
    padding: 10px;
}

/* Navigation Bar */

.logo {
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.navigation_bar {
    background-color: var(--background-color);
    color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    height: 54px;
    padding-inline: 30px;
    justify-content: space-between;
}

/* Horizontal Menu */
.horizontal_menu {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.horizontal_menu li {
    list-style-type: none;
    height: 54px;
    display: flex;
    align-items: center;
}

.horizontal_menu>li:after {
    content: '|';
}

.horizontal_menu li a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 35px;

    &:hover{
        background-color: var(--hover-color);
    }
}

/* Horizontal Menu Settings*/
.horizontal_settings:hover .settings_dropdown {
    display: block;
}

/* Horizontal Menu Services*/
.horizontal_services:hover .services_dropdown {
    display: block;
}


/* Hamburger */
.ham_menu {
    display: none;
    position: absolute;
    right: 0px;
    padding-inline-end: 30px;
}

/* Hamburger Lines */
.line {
    background-color: black;
    width: 25px;
    height: 5px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: all .5s;
}

/* Vertical Menu */
.vertical_menu {
    background-color: var(--background-color);
    display: none;
    position: absolute;
    top: 102%;
    right: 0;
    height: 75vh;
    width: 200px;
    overflow: hidden;
    animation-name: slideout;
    animation-duration: .2s;
    animation-timing-function: linear;
}

@keyframes slideout{
    0%{
        width: 0px;
    }
    100%{
        width: 200px;
    }
}

@keyframes slidein {
    0%{
        width: 200px;
    }
    100%{
        width: 0px;
    }
}


.vertical_menu > li {
    list-style-type: none;
    width: 100%;
}

.vertical_menu li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding-inline: 30px;
    display: inline-block;
    width: 100%;
    &:hover{
        background-color: var(--hover-color);
    }
}


.settings_dropdown,
.services_dropdown {
    background-color: var(--background-color);
    position: absolute;
    top: 102%;
    width: 133px;
    display: none;
}

.settings_dropdown li,
.vertical_services_dropdown li {

    &:hover {
        background-color: var(--hover-color);
    }
}

.vertical_settings_dropdown,
.vertical_services_dropdown {
    display: none;
}

.vertical_settings_dropdown li a,
.vertical_services_dropdown li a {
    list-style-type: none;
    font-size: 1.5rem;

}

.vertical_settings:hover .vertical_settings_dropdown {
    display: block;
}

.vertical_services:hover .vertical_services_dropdown {
    display: block;
}



@media (width < 600px) {
    .horizontal_menu {
        display: none;
    }



}

section {
    padding: 100px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.sub_heading {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2rem;
}

.window {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.gallery {
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    padding: 20px;
    resize: both;
}

.gallery img {
    width: 250px;
    height: calc(9*6)px;
    margin-bottom: 15px;
    opacity: .7;

    /* mix-blend-mode:color-dodge; */
    filter: drop-shadow(8px 8px 10px grey);
    &:hover {
        opacity: 1;
        /* mix-blend-mode:normal; */

        /* transform: scale(1.11); */
    }
}

.sub_captions {
    color: var(--background-color);
    font-weight: 700;
}

.gallery:hover {
    border: 2px solid var(--background-color);

}

.contact_space {
    display: flex;
    justify-content: center;
}

.form2 {
    padding: 40px 60px;
    border: 2px solid var(--background-color);
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.form2>div {
    text-align: center;
    color: var(--background-color);
    font-weight: 900;
    font-size: 2rem;
}

.form1 input {
    border-radius: 20px;
    height: 30px;
    border: none;
    padding: 3px 7px;
    caret-color: var(--background-color);
}

label {
    margin: 20px 0 10px 0;
}

.form2 input[type="text"] {
    border-radius: 20px;
    height: 30px;
    border: none;
    padding: 5px 7px;
    caret-color: maroon;
}

.form2 input[type="submit"] {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: var(--background-color);
    font-size: 1.2rem;
}



.signinForm {
    display: flex;
    justify-content: center;
}

.signinForm .form2 input[type='email'],
input[type='password'] {
    border-radius: 20px;
    height: 30px;
    border: none;
    padding: 5px 7px;
}

.error {
    color: red;
    font-weight: 700;
    visibility: hidden;

    &::before {
        content: '*';
    }
}

footer {
    height: 50px;
    width: 100vw;
    background-color: var(--background-color);
}

@media (width < 1041px) {
    .horizontal_menu li:nth-child(5) {
        display: none;
    }

    .ham_menu {
        display: block
    }

    .form1 input {
        margin-right: 42px;
    }
}

@media (width < 911px) {
    .horizontal_menu li:nth-child(4) {
        display: none;
    }

    .form1 input {
        margin-right: 42px;
    }
}

@media (width < 785px) {
    .horizontal_menu li:nth-child(3) {
        display: none;
    }

    .form1 input {
        margin-right: 42px;
    }
}

@media (width < 650px) {
    .horizontal_menu li:nth-child(2) {
        display: none;
    }

    .form1 input {
        margin-right: 42px;
    }
}

.shapes {
    display: flex;
    gap: 30px;
}

.trapezium {
    width: 100px;
    height: 0;
    border-bottom: 50px solid bisque;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.parallelogram {
    width: 100px;
    height: 50px;
    background-color: aliceblue;
    transform: skew(20deg);
}

.triangle-top {
    width: 0;
    height: 0;
    border-bottom: 50px solid whitesmoke;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-top: 50px solid lightsalmon;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: blanchedalmond;
}

.oval {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: cadetblue;
}

/* ::-webkit-scrollbar {
    width: 10px;
  }
  
  Track
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  Handle
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
   Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }  */

.download-link a {
    color: white;
    text-decoration: none;
    background-color: green;
    padding: 5px;
}

.countdown-timer {
    font-size: 2em;
}

/* Loader */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid yellow;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 8s linear infinite;
}

/* @keyframes spin {
    0% {
        transform: rotate(0deg);
        
    }

    100% {
        transform: rotate(360deg);
    }
} */

.loader2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}

.loader2::before {
    content: " ";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 10px solid #FFF;
    animation: prixClipFix 9s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.btn{
    height: 50px;
    width: 100px;
    border-radius: 10%;
    border: none;
    font-weight: 900;
}

.yellow_btn{
    background-color: yellow;

    &:hover{
        opacity: .8;    
    }
}
.red_btn{
    background-color: red;

    &:hover{
        opacity: .8;
    }
}
.green_btn{
    background-color: green;

    &:hover{
        opacity: .8;
    }
}
.blue_btn{
    background-color: blue;

    &:hover{
        opacity: .8;
    }
}
.white_btn{
    background-color: whitesmoke;

    &:hover{
        opacity: .8;
    }
}


.topX{
    transition: all .5s ;
    transform: rotate(45deg);
    transform-origin: left center;
    width:90%
    
}
.middleX{
    transition: all .5s ;
    opacity: 0;
}
.bottomX{
    transition: all .5s;
    transform: rotate(-45deg);
    transform-origin: left center;
    width: 90%;
    

}

.diagonal{
    position: relative;
    
}

.diagonal::before{
    content: ' ';
    position: absolute;
    background:linear-gradient(
        45deg,
        #12c2e9,
        #c471ed,
        #f64f59
    );
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}